.background {
  background-color: #FFA732;
  padding: 20px;
}

body {
  background-color: #FFA732;
}

.card {
  width: 300px; /* Set the desired fixed width for the card */
  height: 650px; /* Set the desired fixed height for the card */
  margin: auto;
}

.card-body {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img-top {
  width: 100%; /* Set the desired fixed width for the image */
  height: 450px; /* Set the desired fixed height for the image */
  object-fit: cover; /* Maintain the aspect ratio and cover the container */
}

.btn-success {
  margin-top: 15px;
}
