.background {
  background-color: #e9f6ff;
  padding: 10px;
}

body {
  background-color: #e9f6ff;
  margin: 0;
}

.card {
  width: 80%; /* Adjust the width as needed */
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-number {
  height: 40px; /* Adjust the height as needed */
}

.card-body {
  text-align: center;
  padding: 20px;
}

.custom-image {
  width: 100%;
  height: 650px;
}

.btn-success {
  margin-top: 15px;
  width: 100%;
}

/* Optional: Add styles for other card details like title, subtitle, description, and price */
.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.input-group {
  width: 150px;

  margin: auto; /* Center the quantity input group */
}

.btn-number {
  width: 40px;
  height: 40px;
}
