<!-- <div>
  <h1>Signup!</h1>
    <form (ngSubmit)="signupClick()">
        <div class="form-group">
          <label for="username">username address</label>
          <input type="text" class="form-control" name ="username" id ="username"  [(ngModel)]="user.username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">passwordword</label>
          <input type="passwordword"  name ="password" id ="password" [(ngModel)]="user.password" class="form-control" placeholder="passwordword">
        </div>
        <li >
          <a class="link-primary" aria-current="page" href="/login">Login instead</a>
        </li>

        <button type="submit" class="btn btn-primary" >Signup</button>
      </form>
</div> -->


<body>
  <div class="background">
      <!-- <div class="shape"></div>
      <div class="shape"></div> -->
  </div>
  <form (ngSubmit)="signupClick()">
      <h3>SignUp Here</h3>

      <label for="email">Email</label>
      <input type="email" placeholder="Email " name ="username" id ="username"  [(ngModel)]="user.username" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
      
      <label for="name">Name</label>
<input type="text" placeholder="Name" name="name" id="name" [(ngModel)]="user.name" required>


      <label for="password">Password</label>
      <input type="password" placeholder="Password" name ="password" id ="password" [(ngModel)]="user.password">
      <!-- <label for="password">Re enter Password</label>
      <input type="password" placeholder="Password" name ="password" id ="password" [(ngModel)]="user.password"> -->

      <ul style="padding-top: 20px; ">
        <a class="link-primary my-2" style="font-weight: bold; padding-top: 10px;" href="/login">Already have an account? Login</a>

      </ul>
      
      <button type="submit" class="btn btn-primary" >SignUp</button>
    </form>
</body>