.custom-navbar {
    background-color: #950740;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  .navbar-nav .nav-link {
    color: #83C0C1;
    font-size: 30px;
    
  }
  .custom-navbar .navbar-brand {
    color: #83C0C1; /* Color for the navbar brand */
    font-size: 30px;
    
  }
  

  body {
    background-color: #C2CAD0; /* Set your desired background color */
    
  }
