.custom-navbar {
    background-color: #711DB0;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    

  }
  .navbar-nav .nav-link {
    color: #EF4040;
    font-size: 25px;
    
  }
  .custom-navbar .navbar-brand {
    color: #EF4040; /* Color for the navbar brand */
    font-size: 25px;
    
  }
  

  body {
    background-color: #EF4040; /* Set your desired background color */
    
  }
