<div class="background">
  <nav class="navbar navbar-expand-lg custom-navbar" >
  <div class="container-fluid">
    <!-- <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.rawpixel.com%2Fimage_png_800%2FczNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvam9iNjgyLTI0NS1wLnBuZw.png&tbnid=2gi1BH--LWc81M&vet=12ahUKEwjp3eDXuvSDAxWo5DgGHXgGB5cQMygMegUIARCRAQ..i&imgrefurl=https%3A%2F%2Fwww.rawpixel.com%2Fsearch%2Fbook%2520stack&docid=3H6Zp0wdbbxleM&w=800&h=800&q=book%20image&client=safari&ved=2ahUKEwjp3eDXuvSDAxWo5DgGHXgGB5cQMygMegUIARCRAQ" alt=""> -->
    <a class="navbar-brand " href="#">BookApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <ng-container *ngIf="!isTokenExist(); ">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" href="/sellerbooks">Sell Books</a>
        </li>
        <ng-container *ngIf="isTokenExist(); ">
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">Logout</a>
          </li>
        </ng-container>

        <ng-container *ngIf="isTokenExist(); ">
        <li class="nav-item">
          <a class="nav-link" href="/addbook">AddBook</a>
        </li>
      </ng-container>
        
          
          
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- <h1>home</h1> -->

<!-- <app-signup></app-signup> -->
<router-outlet></router-outlet>

</div>
