<!-- your.component.html -->
<body>

    <div class="container">
      <h1 class="custom-bg text-center mt-4 mb-5">Your Purchase!</h1>
      <!-- <button (click)="navigateToAddBook()" class="btn btn-success mx-auto mb-3 d-block">Add Book</button> -->
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3" *ngFor="let book of books">
          <div class="card mb-4" (click)="buyClick(book)">
            <img src="{{book.image}}" class="card-img-top custom-image img-fluid" alt="Book Image">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ book.bookName }}</h5>
              <p class="card-text">{{ book.bookDescription }}</p>
              <p class="card-text">{{ book.author }}</p>
              <p class="card-text">{{ book.price }}</p>
              <div class="mt-auto text-center">
                <!-- <button type="button" class="btn btn-danger mx-2 my-2" (click)="deleteClick(book.bookId)">Delete</button>
                <button type="button" class="btn btn-primary mx-2 my-2" (click)="updateClick(book.bookId)">Update</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>