<body>
    <form (ngSubmit)="addBook()">
        <h3>Add Book</h3>
        
  
        <label for="title">Book Title</label>
        <input type="text" placeholder="Title " name ="title" id ="title"  [(ngModel)]="books.bookName" id="title">
        <label for="title">Seller Id</label>
        <input type="text" placeholder="seller Id " name ="sellerId" id ="sellerId"  [(ngModel)]="books.sellerId" id="sellerId">
        <label for="title">Book Id</label>
        <input type="text" placeholder="Book Id " name ="bookId" id ="bookId"  [(ngModel)]="books.bookId" id="bookId">
        <label for="author">Author</label>
        <input type="text" placeholder="Author " name ="author" id ="author"  [(ngModel)]="books.author" id="author">
        <label for="description">Description</label>
        <input type="text" placeholder="Description " name ="description" id ="description"  [(ngModel)]="books.bookDescription" id="description">
        <label for="genre">Genre</label>
        <input type="text" placeholder="Genre " name ="genre" id ="genre"  [(ngModel)]="books.genre" id="genre">
        <label for="price">Price</label>
        <input type="text" placeholder="Price " name ="price" id ="price"  [(ngModel)]="books.price" id="price">
        <label for="quantity">Quantity</label>
        <input type="text" placeholder="Quantity " name ="quantity" id ="quantity"  [(ngModel)]="books.quantity" id="quantity">
        <!-- <label for="description">Description</label>
        <input type="text" placeholder="Description " name ="description" id ="description"  [(ngModel)]="books.bookDescription" id="description">
   -->

   
   <button type="submit" class="btn btn-primary" >AddBook</button>
    </form>
  </body>