*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
    color: #ffffff;
}

.background {
    width: 200px;
    height: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 80px;
    width: 80px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -30px;
    top: -30px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -10px;
    bottom: -30px;
}

.add-book-form {
    height: 350px;
    width: 250px; /* Reduced width */
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
    padding: 20px;
    text-align: center; /* Center align text content */
}

.add-book-form h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    text-align: center; /* Center align label */
}

input {
    display: block;
    height: 40px; /* Increased height */
    width: 50%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 16px; /* Increased font size */
    font-weight: 300;
    color: #ffffff;
    margin: 0 auto; /* Center align input */
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 20px; /* Adjusted margin-top */
    width: 20%; /* Set button size to 20% */
    background-color: hsl(0, 27%, 39%);
    color: #080710;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Make the button a block-level element for centering */
    margin: 15px auto 0; /* Center align button with margin adjustments */
}
