<body>
    <div class="background my-3">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form (ngSubmit)="addBook()">
        <h3>Add Book</h3>
  
        <label for="title">Book Title</label>
        <input type="text" placeholder="Title " name ="title" id ="title"  [(ngModel)]="books.bookName" id="title">
        <label for="author">Author</label>
        <input type="text" placeholder="Author " name ="author" id ="author"  [(ngModel)]="books.author" id="author">
        <label for="description">Description</label>
        <input type="text" placeholder="Description " name ="description" id ="description"  [(ngModel)]="books.bookDescription" id="description">
        <label for="genre">Genre</label>
        <input type="text" placeholder="Genre " name ="genre" id ="genre"  [(ngModel)]="books.genre" id="genre">
        <label for="price">Price</label>
        <input type="text" placeholder="Price " name ="price" id ="price"  [(ngModel)]="books.price" id="price">
        <label for="quantity">Quantity</label>
        <input type="text" placeholder="Quantity " name ="quantity" id ="quantity"  [(ngModel)]="books.quantity" id="quantity">
        <!-- <label for="description">Description</label>
        <input type="text" placeholder="Description " name ="description" id ="description"  [(ngModel)]="books.bookDescription" id="description">
   -->

        <button type="submit" class="btn btn-primary" >AddBook</button>
        
    </form>
  </body>