<!-- <div>
  <h1>Login!</h1>
    <form (ngSubmit)="loginClick()">
        <div class="form-group">
          <label for="username">username </label>
          <input type="text" class="form-control" name ="username" id ="username"  [(ngModel)]="user.username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input type="password"  name ="password" id ="password" [(ngModel)]="user.password" class="form-control" placeholder="passwordword">
        </div>
        <li >
          <a class="link-primary" href="/signup">Signup instead</a>
        </li>
        <button type="submit" class="btn btn-primary" >Login</button>
      </form>
</div> -->
<!-- <body>
  <div class="background">
       <div class="shape"></div>
      <div class="shape"></div> -->
  <!-- </div>
  <form (ngSubmit)="loginClick()">
      <h3>Login Here</h3>
      <label for="username">Email</label>
      <input type="email" placeholder="Email " name ="username" id ="username"  [(ngModel)]="user.username" id="username">
      <label for="password">Password</label>
      <input type="password" placeholder="Password" name ="password" id ="password" [(ngModel)]="user.password">
      <li >
        <a class="link-primary" href="/signup">Signup instead</a>
      </li>
      <button type="submit" class="btn btn-primary" >Log In</button>
  </form>
</body> --> 





<body>
  <div class="background"></div>
  <div class="login-container">
    <form (ngSubmit)="loginClick()" class="login-form">
      <h3>Login Here</h3>
      <label for="username">Email</label>
      <input type="email" placeholder="Email" name="username" id="username" [(ngModel)]="user.username" id="username">
      <label for="password">Password</label>
      <input type="password" placeholder="Password" name="password" id="password" [(ngModel)]="user.password">
      <li>
        <a class="link-primary" href="/signup">Signup</a>
      </li>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </div>
</body>




