
.custom-navbar .navbar-brand g{
  color: #950740; /* Color for the navbar brand */
}
.custom-bg {
  color: #FF9BD2; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* Set your desired font color */
}

body {
  background-color: #FF9BD2; 
}
.background {
  background-color: #FF9BD2;
}
/* .custom-background {
  background-color: #5CDB95; 
} */






/* your.component.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #E9F6FF;
}

.background {
  background-color: #E9F6FF;
}

.custom-bg {
  color: #05386B;
}

.custom-image {
  width: 100%;
  height: 300px; /* Set the desired height */
  object-fit: cover;
}

.card .btn-success {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.card:hover .btn-success {
  display: block;
}

.card {
  position: relative;
  height: 500px; /* Set a fixed height for each card */
  

}

.card-body {
  height: calc(100% - 300px); /* Set a fixed height for the remaining card body */
  overflow: hidden; /* Hide overflow content if it exceeds the height */
  /* color: #FF9BD2;  */
}
 