.custom-image {
  width: 100%;
  height: 400px;
  object-fit: cover; 
}

.custom-navbar .navbar-brand g{
  color: #950740; /* Color for the navbar brand */
}
.custom-bg {
  color: #f6f1f3; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* Set your desired font color */
}

body {
  background-color: #1a1a1d;
}
.background {
  background-color: #1a1a1d;
}
/* .custom-background {
  background-color: #5CDB95; 
} */