/* your.component.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #05386B;
}

.background {
  background-color: #05386B;
}

.custom-bg {
  color: #05386B;
}



.custom-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card .btn-success {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.card:hover .btn-success {
  display: block;
}

.cardHeight {
  height: 400px; /* Set a fixed height for each card */
}


.card {
  position: relative;
  height: 400px; /* Set a fixed height for each card */
}

.card-body {
  height: 100%; /* Set a fixed height for the card body */
  overflow: hidden; /* Hide overflow content if it exceeds the height */
}
