<style>
    .card {
      position: relative;
    }
  
    .card .btn-success {
      position: absolute;
      bottom: 10px; /* Adjust the distance from the bottom as needed */
      left: 50%;
      transform: translateX(-50%);
      display: none; /* Hide the button by default */
    }
  
    .card:hover .btn-success {
      display: block; /* Show the button on hover */
    }
  </style>
  
  <div class="background ">
  <h1 class="custom-bg">Your Stock!</h1>

    
  <button (click)="navigateToAddBook()" class="btn btn-success">AddBook</button>

  
  <!-- <a class="nav-link" href="/addbook">AddBook</a> -->
  
  <div class="row ">
    <div *ngFor="let book of books" class="col-md-3 mb-3">
      <div class="card " *ngIf="book.sellerId == id" >
        <div class="card-body " >
          <img src={{book.image}} class="card-img-top custom-image" alt="...">
          <h4 class="card-title">{{book.bookName}}</h4>
          <h5 class="card-subtitle mb-2 text-body-secondary">{{book.author}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{book.genre}}</h6>
          <p class="card-text">{{book.bookDescription}}</p>
          <!-- Add other card content or actions as needed -->
          <button type="submit" class="btn btn-danger" (click)="deleteClick()">Delete this book</button>
  
        </div>
      </div>
    </div>
  </div>
  </div>
  